<br>
<div class="container bg-light">
  <br>
  <form [formGroup]="form">
    <label class="form-label">FirstName:</label>
    <input type="text" class="form-control" formControlName="Firstname" placeholder="enter username">

    <label class="form-label">Lastname:</label>
    <input type="text" class="form-control" formControlName="Lastname" placeholder="enter Lastname">
      
    <label class="form-label">Password:</label>
    <input type="password" class="form-control" formControlName="Password" placeholder="enter password">

    <label class="form-label">Email:</label>
    <input type="email" class="form-control" formControlName="Email" placeholder="enter email">
  </form>
  <br>
  
  <button (click)="onClickHandle()" class="btn btn-success ">Confirm</button>
  
</div> 