<div>
    <app-memory-reciever (addMemory)="AddMemory($event)"></app-memory-reciever>
  
    <div class="top">  
      <p class="paragraph">نرم افزار مدیریت دلنوشته</p>
    </div>
    <div class="Memorywrapper">
      <div class="action">
        <div class="text">
          <div class="paragraph">
    <table>
      <thead>
        <tr>
          <th>text</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Memory of Memory">
          <td>{{ Memory.text }}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
</div>
  </div>